
/* font import */

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;800&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, small, strong, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Poppins','Pretendard', sans-serif;
	word-break:keep-all;
	font-size:20px;

}

ul, li {list-style: none;}
div {box-sizing:border-box;}
ul, li, h1, h2, h3, h4 {padding:0; margin:0;}
h1 {font-size:4em;font-weight:700;line-height:1.4;color:#fff}
h2 {font-size:4em;line-height:1.4;}
h3 {font-size:1.5em;}
h4 {font-size:2.5em;font-weight:600;line-height:1.2}/* marketing */
/* temp */
/*body::after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url('');z-index: -1;opacity: 0.5;}*/


.poppins {font-family: 'Poppins', sans-serif;}
.pretendard {font-family: 'Pretendard', sans-serif;}

@font-face{
    font-family:'Pretendard';
    src: url("../fonts/Pretendard-Light.woff") format('woff');
    src: url("../fonts/Pretendard-Light.woff") format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Pretendard';
    src: url("../fonts/Pretendard-Regular.woff") format('woff');
    src: url("../fonts/Pretendard-Regular.woff") format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Pretendard';
    src: url("../fonts/Pretendard-Medium.woff") format('woff');
    src: url("../fonts/Pretendard-Medium.woff") format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Pretendard';
    src: url("../fonts/Pretendard-SemiBold.woff") format('woff');
    src: url("../fonts/Pretendard-SemiBold.woff") format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'Pretendard';
    src: url("../fonts/Pretendard-Bold.woff") format('woff');
    src: url("../fonts/Pretendard-Bold.woff") format('woff');
    font-weight: 700;
}


@media all and (max-width: 786px) {

	h1 {font-size:3.0em;}
	h3 {font-size:1.6em !important;line-height: 1.1;}
	h4 {font-size:1.9em;} /* marketing */
	
}

@media all and (max-width: 390px) {
	h1 {font-size:2.0em;/*line-height: 1.2;*/}
	h3 {font-size:1em !important;line-height: 1.1;}
	
}
